@font-face {
  font-family: game;
  src: url("../fonts/code.otf"); }

@font-face {
  font-family: text;
  font-weight: normal;
  src: url("../fonts/brankovic.ttf"); }

* {
  margin: 0;
  padding: 0; }

.center {
  margin: auto auto;
  text-align: center; }

.outer {
  position: absolute;
  font-size: 15px;
  margin: 3px; }
  .outer a {
    color: #efeddf; }

.undecorated {
  text-decoration: none; }

body {
  background-color: #d0d0d0;
  color: #3f4944;
  font-family: "text", "sans-serif";
  font-size: 2em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.wrapper {
  background-color: #efeddf;
  margin: 40px;
  box-shadow: 0 0 30px #3f4944;
  position: relative;
  min-width: 1400px; }

header {
  color: #efeddf;
  background-color: #3f4944;
  padding: 40px; }
  header h1 {
    font-size: 3.2em;
    font-weight: normal; }
  header h2 {
    font-size: 0.7em;
    font-weight: normal; }

.scorehalf {
  width: 33%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  margin-top: 265px; }

.gamehalf {
  width: 33%;
  display: inline-block;
  text-align: center; }

.gameview {
  margin: 50px 0;
  width: 462px;
  height: 462px;
  font-family: "game", "sans-serif";
  display: inline-block; }

.fieldview {
  font-size: 150px;
  background-color: #fdfcfa;
  border: solid 2px #efeddf;
  width: 150px;
  height: 150px;
  line-height: 170px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.statshalf {
  width: 33%;
  display: inline-block;
  text-align: center;
  font-size: 1.3em; }

.upperstats {
  height: 50%; }

.playagain {
  margin-top: 50px;
  background-color: #3f4944;
  width: 300px;
  height: 80px;
  line-height: 80px;
  border-radius: 5px;
  color: #efeddf;
  display: inline-block;
  text-align: center; }

.backbone {
  bottom: 5;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: 10px; }

.github {
  top: 0;
  right: 0;
  margin: 0; }

p {
  vertical-align: center; }

.middleheight {
  vertical-align: bottom;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 60px; }

.player {
  font-family: "game", "sans-serif"; }

.big {
  font-size: 150px; }
