@font-face {
  font-family: game;
  src: url("../fonts/brankovic.otf"); }

@font-face {
  font-family: text;
  font-weight: normal;
  src: url("../fonts/brankovic.ttf"); }

* {
  margin: 0;
  padding: 0; }

.center {
  margin: auto auto;
  text-align: center; }

.outer {
  position: absolute;
  bottom: 0;
  font-size: 24px; }
  .outer a {
    color: #3f4944; }

.undecorated {
  text-decoration: none; }

.wrapper {
  background-color: #efeddf;
  margin: 40px;
  box-shadow: 0 0 30px #3f4944; }

body {
  background-color: #d0d0d0;
  color: #3f4944;
  font-family: "text", "sans-serif";
  font-size: 2em; }

header {
  color: #efeddf;
  background-color: #3f4944;
  padding: 20px; }
  header h1 {
    font-size: 3.2em;
    font-weight: normal; }
  header h2 {
    font-size: 0.7em;
    font-weight: normal; }

.gamehalf {
  width: 50%;
  display: inline-block;
  text-align: center; }

.gameview {
  margin: 50px 0;
  width: 462px;
  height: 462px;
  font-family: "game", "sans-serif";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block; }

.fieldview {
  font-size: 4em;
  background-color: #fdfcfa;
  border: solid 2px #efeddf;
  width: 150px;
  height: 150px;
  line-height: 150px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  text-align: center; }

.statshalf {
  width: 50%;
  display: inline-block;
  text-align: center; }

.upperstats {
  height: 50%; }

.playerview {
  font-size: 1.8em;
  margin-top: 10px; }

.lowerstats {
  height: 50%; }

.playagain {
  margin-top: 150px;
  background-color: #3f4944;
  width: 300px;
  height: 80px;
  line-height: 80px;
  border-radius: 5px;
  color: #efeddf;
  display: inline-block;
  text-align: center; }

.backbone {
  left: 0; }

.github {
  right: 0; }
