$bright: #EFEDDF;
$dark: #3F4944;
$brighter: lighten($bright, 8%);
$buttonforeground: #FFFFFF;
$buttonbackground: #005D94;

$fieldwidth: 150px;
$border: 2px;

@font-face {
	font-family: game;
	src: url("../fonts/code.otf");
}

@font-face {
	font-family: text;
	font-weight: normal;
	src: url("../fonts/brankovic.ttf");
}

* {
	margin: 0;
	padding: 0;
}

// Helpers
.center {
	margin: auto auto;
	text-align: center;
}

.outer {
	position: absolute;
	font-size: 15px;
	margin: 3px;
	a {
		color: $bright;
	}
}

.undecorated {
	text-decoration: none;
}

body {
	background-color: desaturate(lighten($dark, 55%), 100%);
	color: $dark;
	font-family: "text", "sans-serif";
	font-size: 2em;

	// Disallow Selection
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.wrapper {
		background-color: $bright;
		margin: 40px;
		box-shadow: 0 0 30px $dark;
		position: relative;
		min-width: 1400px;
	}

		header {
			color: $bright;
			background-color: $dark;
			padding: 40px;
			h1 {
				font-size: 3.2em;
				font-weight: normal;
			}
			h2 {
				font-size: 0.7em;
				font-weight: normal;
			}
		}

	.scorehalf {
		width: 33%;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		margin-top: $fieldwidth*1.5 + 40px;
	}

	.gamehalf{
		width: 33%;
		display: inline-block;
		text-align: center;
	}

		.gameview {
			margin: 50px 0;
			width: $fieldwidth*3 + $border*6;
			height: $fieldwidth*3 + $border*6;
			font-family: "game", "sans-serif";
			display: inline-block;
		}

			.fieldview {
				font-size: $fieldwidth;
				background-color: $brighter;
				border: solid $border $bright;
				width: $fieldwidth;
				height: $fieldwidth;
				line-height: $fieldwidth + 20px;
				cursor: pointer;
				display: inline-block;
				vertical-align: top; // fixes repositioning of cells with content
				text-align: center;
			}

	.statshalf {
		width: 33%;
		display: inline-block;
		text-align: center;
		font-size: 1.3em;
	}

		.upperstats {
			height: 50%;
		}

			.playagain {
				margin-top: $fieldwidth/3;
				background-color: $dark;
				width: 300px;
				height: 80px;
				line-height: 80px;
				border-radius: 5px;
				color: $bright;
				display: inline-block;
				text-align: center;
			}

.backbone {
	bottom: 5;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	margin-top: 10px;
}

.github {
	top: 0;
	right: 0;
	margin: 0;
}

p {
	vertical-align: center;
}

	.middleheight {
		vertical-align: bottom;
		display: inline-block;
		margin-right: 50px;
		margin-bottom: 2*$fieldwidth/5;
	}

		.player {
			font-family: "game", "sans-serif";
		}

		.big {
			font-size: $fieldwidth;
		}